[Unit]
Description=Attendance App Service
After=network.target

[Service]
ExecStart=/home/pi/Desktop/myenv/bin/python3 /home/pi/Desktop/attendance/app.py
WorkingDirectory=/home/pi/Desktop/attendance
Restart=always
User=pi
Group=pi

[Install]
WantedBy=multi-user.target
